{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "extends": "airbnb" ,
    "globals": {
        "React": false,
    },
    "rules": {
        "indent": ["error", 4],
        "react/jsx-indent": 0,
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0,
        "react/prefer-stateless-function": 1,
        "import/no-extraneous-dependencies": 0,
        "linebreak-style": 0,
        "no-useless-constructor": 1,
        "import/prefer-default-export": 1,
        "no-console": 0,
        "quote-props": 0,
        "object-curly-spacing": 0
    }
}
